---
import { Image } from "astro:assets";
import type { Post } from "../schemas/storyblok-schemas";

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<div class="previews">
  {
    posts.map((post) => {
      // console.log(post.slug);
      return (
        <div class="preview-container" id={post.navId}>
          <a class="preview-link" href={post.slug}>
            <span class="preview-time">
              <time>{post.date}</time>
            </span>
            <Image
              src={post.image}
              alt={`Preview image for ${post.title}`}
              width={600}
              height={350}
              class={"preview-image"}
            />
            <div class="preview-text">
              <h2 class="preview-header">{post.title}</h2>

              <p class="preview-description">{post.description}</p>
            </div>
          </a>
        </div>
      );
    })
  }
</div>

<style>
  :root {
    --font-size-card-h2: clamp(1.3rem, 2vw, 2rem);
    --description-font-size: clamp(1rem, 1vw, 1.5rem);
  }

  .previews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .preview-container {
    max-width: 600px;
    border: 3px solid rgb(var(--accent-alt));
    border-radius: 1rem;
    background: var(--accent-gradient-reverse);
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    transition: all 0.1s ease-in-out;
  }

  .preview-container:hover {
    transform: scale(1.02);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .preview-link {
    text-decoration: none;
    color: inherit;
  }

  .preview-image {
    border-radius: 0.7rem;
    width: 100%;
    height: auto;
  }

  .preview-text {
    text-align: left;
    /* display: grid; */
    /* grid-template: auto auto auto / 1fr; */
  }

  .preview-header {
    text-align: left;
    /* grid-area: 1 / 1 / span 1 / span 1; */
    font-size: var(--font-size-card-h2);
  }

  .preview-time {
    justify-content: left;
    display: flex;
    align-items: center;
    font-size: var(--description-font-size);
    margin-bottom: 1rem;
  }

  time {
    font-style: italic;
  }

  .preview-description {
    /* grid-area: 3 / 1 / span 1 / span 1; */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* subject to change */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--description-font-size);
  }
</style>
