---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import localHeadshotImage from "../images/headshot.jpg";
import * as navItem from "../content/nav-items/1-home.md";

type StackItem = {
  name: string;
  logo: string;
};
const { title } = navItem.frontmatter;
const stackSVGs: StackItem[] = [
  { name: "HTML", logo: "https://cdn.svgporn.com/logos/html-5.svg" },
  { name: "CSS", logo: "https://cdn.svgporn.com/logos/css-3.svg" },
  { name: "JavaScript", logo: "https://cdn.svgporn.com/logos/javascript.svg" },
  {
    name: "TypeScript",
    logo: "https://cdn.svgporn.com/logos/typescript-icon.svg",
  },
  { name: "Git", logo: "https://cdn.svgporn.com/logos/git-icon.svg" },

  { name: "Node.js", logo: "https://cdn.svgporn.com/logos/nodejs-icon.svg" },
  {
    name: "Express.js",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg",
  },
  { name: "React.js", logo: "https://cdn.svgporn.com/logos/react.svg" },
  { name: "Angular", logo: "https://cdn.svgporn.com/logos/angular-icon.svg" },
  { name: "Astro", logo: "https://cdn.svgporn.com/logos/astro-icon.svg" },
  { name: "Next.js", logo: "https://cdn.svgporn.com/logos/nextjs-icon.svg" },
  {
    name: "SQL",
    logo: "https://www.svgrepo.com/show/331760/sql-database-generic.svg",
  },
  { name: "Puppeteer", logo: "https://cdn.svgporn.com/logos/puppeteer.svg" },
  { name: "Java", logo: "https://cdn.svgporn.com/logos/java.svg" },
  { name: "C#", logo: "https://cdn.svgporn.com/logos/c-sharp.svg" },
  {
    name: "ASP.NET Core",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg",
  },
];

const sidebarItems = [
  { name: "Introduction", href: "#introduction" },
  { name: "Tech Stack", href: "#techstack" },
  { name: "Projects", href: "#projects" },
];
---

<Layout title={title} sidebarItems={sidebarItems}>
  <div class="main-content">
    <section id="introduction" class="intro-section">
      <div class="image-container">
        <Image class="headshot" src={localHeadshotImage} alt="Pearce Odegard" />
      </div>
      <div class="content-container">
        <h1>Hi, I'm <span class="highlight">Pearce Odegard</span>!</h1>
        <div class="description">
          <p>
            I'm a web developer who builds software solutions centered around
            the <em>Node.js</em> and <em>TypeScript</em>
             ecosystem.
          </p>
          <p>
            I am also a passionate communicator, leader, and educator. I have
            taught remote web development courses on <em>JavaScript</em>,
            <em>Java</em>, and <em>C#</em> (ASP.NET Core) at <a
              href="https://launchcode.org">LaunchCode</a
            >, as well as private music lessons for individuals of all ages.
          </p>
        </div>
      </div>
    </section>
    <section id="techstack" class="techstack-section">
      <h2>Tech Stack</h2>
      <div class="techstack">
        {
          stackSVGs.map((stackItem) => (
            <div class="stack-item">
              <Image
                src={stackItem.logo}
                alt={stackItem.name}
                width="90"
                height="90"
                class="stack-logo"
              />
              <p>{stackItem.name}</p>
            </div>
          ))
        }
      </div>
    </section>
    <section id="projects" class="projects-section">
      <h2>Recent Projects</h2>
    </section>
  </div>
</Layout>

<style>
  :root {
    --fs-h1: clamp(1.8rem, 5vw, 3rem);
  }

  h1 {
    font-size: var(--fs-h1);
    line-height: 1;
    font-family: "VulfSansDemo", sans-serif;
  }
  h2 {
    color: rgb(var(--accent-alt));
    font-family: "VulfMonoDemo", sans-serif;
  }
  .highlight {
    color: #ffa500;
    font-family: "VulfMonoDemo", sans-serif;
    word-spacing: -1.3rem;
    font-weight: 700;
  }
  .headshot {
    display: flex;
    height: auto;
    border-radius: 50%;
    /* max-width: 100%; */
    float: left;
    /* Still not convinced on whether I want the text to follow the circle shape of the image or just be next to it
		leaning toward just next it without this circle() rule */
    /* shape-outside: circle(); */
    margin: 20px;
    /* messing around with color shadow */
    /* box-shadow:
      rgb(var(--accent-light)) 0px 0px 0px 3px,
      rgb(var(--accent-alt)) 0px 0px 0px 6px,
      rgb(var(--accent-light)) 0px 0px 0px 9px,
      rgb(var(--accent-alt)) 0px 0px 0px 12px,
      rgb(var(--accent-light)) 0px 0px 0px 15px; */
    box-shadow:
      rgba(0, 0, 0, 0.09) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    row-gap: 1rem;
    margin-top: 1rem;
  }

  .intro-section {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .description {
    font-family: "VulfSansDemo", sans-serif;
    flex-grow: 1;
    font-size: 1.5rem;
  }
  .description > p > a {
    text-decoration: none;
    color: #333;
    position: relative; /* Needed for the underline animation */
    border-bottom: 2px solid transparent; /* Transparent border by default */
    transition:
      color 0.3s,
      border-color 0.3s; /* Add smooth transitions */
    font-weight: bold;
  }

  .description > p > a:hover {
    color: #ffa500; /* Change the link color on hover */
    border-color: #ffa500; /* Change border color on hover */
  }
  .description code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-flex {
    display: flex;
    gap: 2rem;
    padding: 0;
  }

  .techstack-section {
    max-width: 75%;
  }

  .techstack {
    font-family: "VulfSansDemo", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    row-gap: 1rem;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 1em;
    box-shadow:
      rgba(0, 0, 0, 0.09) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .stack-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .stack-item > p {
    line-height: 1;
    word-wrap: none;
    white-space: nowrap;
  }

  /* Mobile styles */
  @media (max-width: 1200px) {
    .intro-section {
      flex-direction: column;
    }

    .link-card-flex {
      flex-wrap: wrap; /* Enable wrapping on smaller screens */
      justify-content: center; /* Center-align the wrapped items */
    }

    .headshot {
      display: flex;
      height: auto;
      border-radius: 50%;
      max-width: 100%;
      /* float: left; */
      margin: auto;
    }

    .techstack {
      justify-content: space-evenly;
      gap: 1rem;
    }

    .stack-item {
      width: 85px;
      height: 85px;
      word-wrap: none;
    }

    .stack-logo {
      width: 50px;
      height: 50px;
    }
  }
</style>
