---
import { ViewTransitions } from "astro:transitions";

import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  sidebarItems: { name: string; href: string }[];
}

const { title, sidebarItems } = Astro.props;

const allNavItems = await Astro.glob("../content/nav-items/*.md");

// const slideAnim = slide({ duration: "0.5s" });
---

<script>
  document.addEventListener("astro:after-swap", () => {
    console.log("navigation triggered");
  });

  // window.onscroll = function () {
  //   const main = document.querySelector("main");
  //   if (window.scrollY !== 0) {
  //     main!.style.paddingTop = "100px";
  //     console.log("scrolling");
  //   }
  // };
</script>

<html lang="en" transition:animate={"none"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Pearce Odegard" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="icon"
      href="https://www.canva.com/design/DAFyfn0GgMI/ValEl7W4AwCD2Grw3EQbBg/view?utm_content=DAFyfn0GgMI&utm_campaign=designshare&utm_medium=link&utm_source=editor"
    />
    <ViewTransitions />
  </head>

  <body>
    <header id="header" class="page-link" transition:animate={"none"}>
      <h1 class="main-header">
        <span class="text-gradient">Pearce<br />Odegard</span>
      </h1>
      <Navbar allNavItems={allNavItems} path={Astro.url.pathname} />
    </header>
    <div class="main-sidebar page-link">
      <Sidebar items={sidebarItems} client:only />
      <main transition:animate={"slide"}>
        <slot />
      </main>
      <div class="spacer"></div>
    </div>
    <Footer />
    <style is:global>
      /* VulfMono family */
      @font-face {
        font-family: "VulfMonoDemo";
        src: url("/fonts/VulfMonoDemo-Regular.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "VulfMonoDemo";
        src: url("/fonts/VulfMonoDemo-Light.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "VulfMonoDemo";
        src: url("/fonts/VulfMonoDemo-Bold.otf") format("opentype");
        font-weight: bold;
        font-style: bold;
        font-display: swap;
      }

      @font-face {
        font-family: "VulfMonoDemo";
        src: url("/fonts/VulfMonoDemo-Italic.otf") format("opentype");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "VulfMonoDemo";
        src: url("/fonts/VulfMonoDemo-Italic.otf") format("opentype");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }

      /* VulfMonoBlack family */
      @font-face {
        font-family: "VulfMonoBlackDemo";
        src: url("/fonts/VulfMonoDemo-Black.otf") format("opentype");
        font-weight: bold;
        font-style: bold;
        font-display: swap;
      }

      /* VulfSans family */
      @font-face {
        font-family: "VulfSansDemo";
        src: url("/fonts/VulfSansDemo-Regular.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "VulfSansDemo";
        src: url("/fonts/VulfSansDemo-Light.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "VulfSansDemo";
        src: url("/fonts/VulfSansDemo-Bold.otf") format("opentype");
        font-weight: bold;
        font-style: bold;
        font-display: swap;
      }
      @font-face {
        font-family: "VulfSansDemo";
        src: url("/fonts/VulfSansDemo-Italic.otf") format("opentype");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }

      p > a {
        text-decoration: none;
        color: #333;
        position: relative; /* Needed for the underline animation */
        border-bottom: 2px solid transparent; /* Transparent border by default */
        transition:
          color 0.3s,
          border-color 0.3s; /* Add smooth transitions */
        font-weight: bold;
      }
      p > a:hover {
        color: rgb(var(--accent));
        border-bottom-color: rgb(var(--accent));
      }

      /* ::-webkit-scrollbar {
        width: 1.2em;
      }

      ::-webkit-scrollbar-track {
        background: rgb(var(--accent-light));
      }

      ::-webkit-scrollbar-thumb {
        background: #ffffff;
        border: 0.25em solid rgb(var(--accent-light));
        border-radius: 1em;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #333;
      }

      @supports (scrollbar-color: #ffffff #ffffff) {
        * {
          scrollbar-color: #ffffff rgb(var(--accent-light));
        }
      } */

      :root {
        --accent: 204, 133, 0;
        --accent-alt: 255, 165, 0;
        --accent-light: 219, 94, 114;
        /* --accent-dark: 49, 10, 101; */
        --accent-gradient: linear-gradient(
          to bottom,
          rgb(var(--accent-light)) 33%,
          rgb(var(--accent))
        );
        --accent-gradient-reverse: linear-gradient(
          to top,
          rgb(var(--accent-light)),
          rgb(var(--accent))
        );
      }

      html {
        font-family: "VulfMonoDemo", sans-serif;
        background: #008080;
        background-size: 224px;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-padding-top: 200px;
        scroll-behavior: smooth;
      }

      body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding-bottom: 1em;
        padding-top: 1em;
        background-color: #008080;
        z-index: 100;
        box-shadow:
          rgba(0, 0, 0, 0.09) 0px 2px 1px,
          rgba(0, 0, 0, 0.09) 0px 4px 2px,
          rgba(0, 0, 0, 0.09) 0px 8px 4px,
          rgba(0, 0, 0, 0.09) 0px 16px 8px,
          rgba(0, 0, 0, 0.09) 0px 32px 16px;
      }

      /* this is for spacing the main content in the center, offsetting the width of the page contents sidebar */
      .spacer {
        width: 15%;
      }

      @media (max-width: 1400px) {
        .spacer {
          display: none;
        }
      }

      main {
        margin: auto;
        width: 1200px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
      }

      .main-sidebar {
        display: flex;
        flex-direction: row;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      .main-header {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        font-family: "VulfMonoBlackDemo", sans-serif;

        display: none;
      }
      .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
      }
      h2 {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1;
        font-family: "VulfSansDemo", sans-serif;
        text-align: center;
        color: white;
      }
    </style>
  </body>
</html>
